#forside {
    display: grid;
    grid-template: repeat(9,1fr);
}


#box1 {
    outline: solid red 1px;
    min-height: 5rem;
    background-image: url(/forsidebilleder/pexels-photo-3094033.jpeg);
    grid-column: 1/3;
    grid-row: 1/3;
    background-size: cover;
}

#box2 {
    outline: solid red 1px;
    min-height: 5rem;
    background-image: url(/forsidebilleder/pexels-photo-4706115.jpeg);
    grid-column: 1/3;
    grid-row: 3/6;
    background-size: cover;
}

#box3 {
    outline: solid red 1px;
    min-height: 5rem;
    background-color: #00505C;
    grid-column: 1/3;
    grid-row: 6/9;
}

#box4 {
    outline: solid red 1px;
    min-height: 5rem;
    background-color: #00505C;
    grid-column: 3/6;
    grid-row: 1/3;
}

#box5 {
    outline: solid red 1px;
    min-height: 5rem;
    background-image: url(/forsidebilleder/pexels-photo-10572089.jpeg);
    grid-column: 3/6;
    grid-row: 3/9;
    background-size: cover;
}

#box6 {
    outline: solid red 1px;
    min-height: 5rem;
    background-image: url(/forsidebilleder/photo-1590422749897-47036da0b0ff.jpeg);
    grid-column: 6/9;
    grid-row: 1/9;
    background-size: cover;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    outline: solid 1px black;
    text-align: center;
    padding: 1rem;
 }

 footer p {
    grid-row: 1/1;
    text-align: left;
 }

 footer #kat {
    grid-row: 2/2;
 }

 footer #nie {
    grid-row: 2/2;
 }
 
 footer #flo {
    grid-row: 2/2;
 }

 footer #rie {
    grid-row: 3/3;
 }

 footer #dav {
    grid-row: 3/3;
 }